<div class="main">
  <div class="main-logo">
    <h1>ClosetAppにようこそ！</h1>
  </div>
  <div class="main-image">
    <img src="main-image.jpg">
  </div>
  <div class="main-discription">
    <p>このアプリは、WEB上で自分のクローゼットを作成するアプリです</p>
    <p>持っている洋服を把握し、おしゃれを楽しみましょう！</p>
  </div>

</div>


