/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


*{
  box-sizing: border-box;
}

body{
  margin: 0;
  font-family: sans-serif;
  color: #646464;
}

a{
  text-decoration: none;
}

.container{
  padding: 0 15px;
  margin: 0 auto;
}

header{
  width: 100%;
  height: 70px;
  background-color: #66ccff;
  }

ul{
  margin: 0;
}

li{
  list-style: none;
  }

.header-logo{
  float: left;
  font-size: 25px;
  line-height: 70px;
  padding-left:30px;
}

.header-logo a{
  color: white;
  text-decoration: none;
}


.header-list{
  float: right;
}

.header-list li{
  list-style: none;
  float: left;
  font-size: 15px;
  line-height: 70px;
  padding-right:30px;
}

.header-list a{
  color: white;
  text-decoration: none;
}

/* devise/shared/linksのCSS*/
.new-password-path{
  font-size: 15px;
  text-decoration: underline;
  opacity: 0.8;
}

.new-password-path a{
  color: #66ccff;
}


.new-password-path:hover{
  opacity: 1.0;
}

.login-link{
  font-size: 15px;
  text-decoration: underline;
  opacity: 0.8;
}

.login-link a{
  color: #66ccff;
}

.login-link:hover{
  opacity: 1.0;
}
