// 洋服データ登録ページ、洋服データ編集ページ
.cloth-data-wrapper .container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex: 1;
}

.cloth-data-wrapper {
  color: #646464;
  text-align: center;
}

.cloth-data {
  width: 400px;
  height: 850px;
  margin: 0 0 60px 0;
  border: solid 1px #a6a6a6;
}

.cloth-data__heading {
  margin: 0 0 30px 0;
  padding: 5px 0;
  background-color: #f5f5f5;
}

.cloth-data__info {
  
  .field {
    margin-bottom: 25px;
  }

  label {
    float: left;
  }

  form { 
    width: 300px;
    margin: 0 auto;
    text-align: center;
  }

  input {
    width: 100%;
    padding: 5px;
    font-size: 15px;
    box-sizing: border-box;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(166,166,166);
    border-radius: 4px;
  }

  input[type="submit"] {
    width: 130px;
    height: 30px;
    background-color: #66ccff;
    color: white;
    opacity: 0.8;
    border-radius: 4px;
    border-color: #66ccff;
 
    &:hover {
      opacity: 1.0;
      cursor: pointer;
    }

  }

  select{
    width: 100%;
    padding: 5px;
    font-size: 15px;
    height: 30px;
    background-color: white;
  }

  .actions {
    margin-bottom: 50px;
  }  

}

#crop_area_box {
  width: 300px;
  height: 400px;
  margin : 50px auto;
}


form img.thumb {
    margin:0 5px 5px 0;
    max-height:250px;
    vertical-align:bottom;
}
