// Place all the styles related to the Cloths controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

li{
  float: left;
}

// ログイン後のトップページ
.cloth-index{
  float: right;
  width: 80%;
}

// 洋服詳細ページ
.cloth-show{
  width: 600px;
  margin: 0 auto;

  h3, p{
    text-align: center;
  }
}

.cloth-image{
  text-align: center;
}

// 洋服データ登録ページ
form{
  width: 250px;
  margin: 0 auto;
  text-align: center;
}


input {
    width: 100%;
    padding: 5px;
    font-size: 15px;
    box-sizing: border-box;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(166,166,166);
    border-radius: 5px;
}

input[type="submit"]{
  width:100px;
  height: 25px;
  
}

select{
    width: 100%;
    padding: 5px;
    font-size: 15px;
    height: 32px;
    background-color: white;
}

label{
  float: left;
}

.field{
  margin-bottom: 20px;
}

.cloth-new-logo{
  width: 600px;
  margin: 0 auto;  

  h2{
    text-align: center;
  }

}

// 検索結果ページ
.cloth-search{
  float: right;
  width: 80%;
}

// サイドバー
.side-nav{
  width: 20%;
  float: left;

}
