// Place all the styles related to the Cloths controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

li{
  float: left;
}

// ログイン後のトップページ
.cloth-index{
  float: right;
  width: 70%;
}

//side_nav
.side-nav{
  padding-left: 15px;
  padding-right: 15px;
  font-size: 15px;
  width: 20%;
}

.side-nav p{
  border-bottom: solid 1px #dadada;
}

.side-nav p:hover{
  background-color: #dadada;
}

.side-nav a{
  color: #646464;
}

// 洋服詳細ページ
.cloth-show{
  width: 600px;
  margin: 0 auto;

  h3, p{
    text-align: center;
  }
}

.cloth-image{
  text-align: center;
}

// 洋服データ登録ページ
.cloth-new-wrapper{
  text-align: center;
  color: #646464;
  padding-top: 50px;
}

.cloth-new{
  width: 490px;
  height: 650px;
  margin: 0 auto;
  border: solid 1px #a6a6a6;
}

.cloth-new h2{
  background-color: #f5f5f5;
  margin: 0;
  padding: 5px 0;
}

.cloth-date{
  padding-top: 30px;
}


i{
  float: left;
}


form{
  width: 250px;
  margin: 0 auto;
  text-align: center;
}


input {
    width: 100%;
    padding: 5px;
    font-size: 15px;
    box-sizing: border-box;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(166,166,166);
    border-radius: 4px;
}

input[type="submit"]{
  width: 130px;
  height: 30px;
  margin: 50px 0 50px 0; 
  color: white;
  background-color: #66ccff;
  opacity: 0.8;
  border-radius: 4px;
  border-color: #66ccff;
}

input[type="submit"]:hover{
  opacity: 1.0;
  cursor: pointer;
}


select{
    width: 100%;
    padding: 5px;
    font-size: 15px;
    height: 32px;
    background-color: white;
}

label{
  float: left;
}

.field{
  margin-bottom: 20px;
}

.cloth-new-logo{
  width: 600px;
  margin: 0 auto;  

  h2{
    text-align: center;
  }

}

// 検索結果ページ
.cloth-search{
  float: right;
  width: 80%;
}


