// Place all the styles related to the Cloths controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

li{
  float: left;
}

// ログイン後のトップページ
.cloth-index{
  float: right;
  width: 80%;
}

// 洋服詳細ページ
.cloth-show{
  width: 600px;
  margin: 0 auto;

  h3, p{
    text-align: center;
  }
}

.cloth-image{
  text-align: center;
}

// 洋服データ登録ページ
.cloth-new{
  width: 600px;
  margin: 0 auto;

  field{
    text-align: center;
  }

}

.cloth-new-logo{
  width: 600px;
  margin: 0 auto;  

  h2{
    text-align: center;
  }

}

// 検索結果ページ
.cloth-search{
  float: right;
  width: 80%;
}

// サイドバー
.side-nav{
  width: 20%;
  marigin-right: auto;
  float: left;

}
