// 入力フォームの共通css */
.field {
  margin-bottom: 25px;
}

i {
  float: left;
}

label {
  float: left;
}

form{ 
  width: 300px;
  margin: 0 auto;
  text-align: center;
}

input {
  width: 100%;
  padding: 5px;
  font-size: 15px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(166,166,166);
  border-radius: 4px;
}

input[type="submit"] {
  width: 130px;
  height: 30px;
  background-color: #66ccff;
  color: white;
  opacity: 0.8;
  border-radius: 4px;
  border-color: #66ccff;
}

input[type="submit"]:hover {
  opacity: 1.0;
  cursor: pointer;
}

.actions {
  margin-bottom: 50px;
}

// ログインページのみ
.pb50 {
  padding-bottom: 50px;
}

.field-check {
  display: inline;
  float: left;
  width: 30px;
} 

// selectの利用はcloths controllerのみ
select{
  width: 100%;
  padding: 5px;
  font-size: 15px;
  height: 32px;
  background-color: white;
}