// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main{
  width: 600px;
  margin: 0 auto;
}

.main-logo{
  text-align: center;
}

.main-image{
 text-align: center;
  img{
  width: 400px; 
  }
}

.main-discription{
  text-align: center;
  font-size: 15px;
}

//新規登録、ログインページ
.uesr-date{
  width: 400px;
  margin: 0 auto;
}

.user-date h2{
  text-align: center;
}

i{
  float:left;
}

// ユーザ設定ページ下部
.user-date h3{
  text-align: center;
}

.user-date p{
  text-align: center;
}

.delete_button{
  width: 200px;
  height: 25px;
}

//パスワードをお忘れの方ページ
.password-new{
  width: 600px;
  margin: 0 auto;
}

