// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//TOPページ
.top-wrapper{
  text-align: center;
  padding-top: 10px
}

.top-wrapper h1{
}

.top-wrapper img{
  width: 500px;
}

.top-wrapper p{
}

.btn{
  padding: 8px 24px;
  color: white;
  background-color: #66ccff;
  opacity: 0.8;
  border-radius: 4px;
}

.btn:hover{
  opacity: 1;
}


//ログインページ、新規登録ページ
.login-wrapper{
  text-align: center;
  color: #646464;
  padding-top: 50px;
}

.login{
  width: 490px;
  margin: 0 auto;
  border: solid 1px #a6a6a6;
}

.login > h2{
  background-color: #f5f5f5;
  margin: 0;
  padding: 5px 0;
}

.login-user{
  padding-top: 30px;
}

.login-user form{
  width: 300px;
}

.field-check{
  float: left;
  width: 30px;
  display: inline;
}

.signup-link{
  font-size: 15px;
  text-decoration: underline;
  opacity: 0.8;
  margin-bottom: 20px;
}

.signup-link a{
  color: #66ccff;
}

.signup-link:hover{
  opacity: 1.0;
}

//新規登録ページのみ
.signup input[type="submit"]{
  margin-top: 10px;
}

//パスワードをお忘れの方ページ
.password-new-wrapper{
  text-align: center;
  padding-top: 50px;
}

.password-new{
  width: 700px;
  height: 400px;
  margin: 0 auto;
  border: solid 1px #a6a6a6;
}

.password-new h2{
  background-color: #f5f5f5;
  margin: 0;
  padding: 5px 0;
}

.password-new p{
  font-size: 15px;
}

.password-new.field{
  margin-top: 20px;
}


i {
  margin-top:5px;
}


// ユーザ設定ページ
.delete-wrapper {
  padding-top: 50px;
  text-align: center;
  color: #646464;
}

.delete {
  width: 490px;
  height: 250px;
  margin: 50px auto;
  border: solid 1px #a6a6a6;
}

.delete h2 {
  background-color: #f5f5f5;
  margin: 0;
  padding: 5px 0;
  text-align: center;
}

.delete p {
  padding: 20px 10px 5px 10px;
  text-align: center;
  font-size: 15px;
}

.delete input[type="submit"] {
  width: 200px;
  height: 30px;
  margin: 50px 0 50px 0; 
  color: white;
  background-color: #66ccff;
  opacity: 0.8;
  border-radius: 4px;
  border-color: #66ccff;
}

.alert {
  background-color: #FFDBC9;
  color: red;
}

//devise_error_message!にCSSを適用
#error_explanation {
  width: 100%;
  background-color: #FFDBC9;
  color: red;
  padding: 10px 15px;
}

#error_explanation h2 {
  margin: 0;
  font-size: 20px;
}

#error_explanation li {
  list-style: disc;
  font-size: 15px;
}
