<div class="side-nav-category">

  <h3>カテゴリ</h3>
  <% @categories=Category.all %>
  <% @categories.each do |category| %>
    <p>
      <%= link_to "#{category.name}", "/cloths/category/#{category.id}" %>
    </p>
   <% end %>

</div>

