<div class="cloth-data-wrapper">
  <div class="container">
    <div class="cloth-data">
    
      <h2 class="cloth-data__heading">洋服データ編集</h2>
      <%= render 'form', cloth: @cloth %>

      <div class="link mb50">
        <%= link_to '洋服詳細ページに戻る', :back %> 
      </div>


    </div>

  </div>
</div>


