<div class="cloth-new-wrapper">
  <div class="container">
    <div class="cloth-new">
    
      <h2>洋服データ登録</h2>


<%= render 'form', cloth: @cloth %>

    </div>
    <div class="cloth-image">
      <h2>洋服画像</h2>
      <div id="crop_area_box"><img id="crop_image" />
      </div>
    </div>

  </div>
</div>


