<div class="cloth-data-wrapper">
  <div class="container">
    <div class="cloth-data">
    
      <h2 class="cloth-data__heading">洋服データ登録</h2>
      <%= render 'form', cloth: @cloth %>

    </div>
  </div>
</div>




